# Predicting Interview No-shows

**Problem statement:**

Your company, Acme Co., sources candidates for companies hiring new employees. Recently, a number of our clients have complained that candidates have not been showing up to interviews. Your boss has provided you with the attached data set in hopes that you can find some way of identifying candidates at risk of not attending scheduled interviews

Logistic regression or a tree-based method. It seems like there are a good amount of categorical features, so may be learning towards trees.

**Import Libraries:**

In [389]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report
import re
import pickle
import googlemaps 
from datetime import datetime
import itertools
import warnings
warnings.filterwarnings('ignore')

**Functions:**

In [231]:
def clean_special_characters(string):
    l = re.sub('[^A-Za-z0-9]+', ' ', string)
    return l.strip()

def get_city_diff(city_1,city_2):
    distance = gmaps.distance_matrix(city_1,city_2)['rows'][0]['elements'][0]
    return distance['distance']['value']

def replace_value(val,replacable_words_li,replace_word):
    if val in replacable_words_li:
        return replace_word
    else: 
        return val
    
def get_date_string(date):
    val = re.search("^(\d)+[\.\-\/](\d)+[\.\-\/](\d)*",date).group()
    val = val.replace("/",'.').replace("-",".")
    d,m = val.split('.')[0].zfill(2),val.split('.')[1].zfill(2)
    if len(val.split('.')[2]) == 4:
        yr = val.split('.')[2]
    else:
        yr = "20".join(val.split('.')[2])
    return ".".join([d,m,yr])
    
def clean_date_formating(row):
    try:
        date = get_date_string(row)
        return datetime.strptime(date, '%d.%m.%Y')
    except:
        date = '.'.join([x[:2],'04.2016'])
        return datetime.strptime(date, '%d.%m.%Y')
        
    
def format_date(row):
    r = clean_date_formating(row)
    
    if int(r.split('.')[0]) <= 12 and int(r.split('.')[1]) <= 12:
        return "both_under"
    elif int(r.split('.')[0]) > 12:
        return "d-m-y"
    elif int(r.split('.')[1]) > 12: 
        return "m-d-y"
    else:
        return "other"
    
def clean_locations(locale):
    return locale.replace("-",'').split('/')[0].strip().replace("-",'')

def clean_col_vals(row,value_replacements):
    if row in value_replacements.keys():
        return value_replacements[row].replace(' ','_')
    else:
        return row.replace(' ','_')
    
def clean_position_names(row):
    return row.replace('-','').replace(' ','_')

def replace_time_with_position(skills,position):
    try:
        re.search("(\d)+[\.](\d{2}\s)[\w]{2}",skills).group()
        return position
    except:
        return skills
    
def lead_or_manager_skills_fix(skills,position,leads,position_or_lead="position"):
    ptrn = "[\_]?(senior|manager|lead|sr|tech_lead|technical_lead)[\_]?"
    try:
        s = re.search(ptrn,skills).group()
        if (s == skills) and position_or_lead=="position":
            return position
        elif position_or_lead!="position":
            return 1
        else:
            return skills.replace(s,'')
    
    except:
        if position_or_lead=="position":
            return skills
        else: 
            return 0

def clean_col_vals_new(row,value_replacements):
    if row == "basesas program/ reporting":
        return "basesas_program_reporting"
    for val in value_replacements.keys():
        if row in value_replacements[val]:
            val.split(',')
            v=val.strip().replace('-',' ')
            s = re.sub(' +', ' ', v)
            return s.replace(' ','_')
        else:
            pass
    
    if row.find(',') != -1:
        row = '/'.join([x.strip() for x in row.split(',')])
    
    v = row.replace('-',' ').replace("–"," ").strip()
    s = re.sub(' +', ' ', v) 
    return s.replace(' ','_')

def value_contained_skill(skill,val):
    for v in val:
        if skill.find(v) != -1:
            return 1
        else: 
            return 0
    
def clean_skills(skills):
    for s in ['/',',','–','-','(',')']:
        skills = '_'.join([i.strip() for i in skills.split(s) if i != ''])

    return skills.lower().replace('&',' and ').replace(' ','_').replace("__","_")

def replace_skills(skill,replacements):
    for key in skill_replacements.keys():
        if skill in skill_replacements[key]:
            return key
        else: 
            pass
        
    return skill

def clean(val):
    return val.replace(", India","")

def get_distance(city_1,city_2):
    try:
        if city_1 == city_2:
            return 0
        elif city_1[1] > city_2[1]:
            return updated_distances[city_1][city_2]
        elif city_1[1] < city_2[1]:
            return updated_distances[city_2][city_1]
        else: 
            return updated_distances[city_1][city_2]
    except:
        return updated_distances[city_2][city_1]

Read in the data:

In [251]:
data = pd.read_csv("Interview_Input.csv")

### Data Cleaning:

We now need to look for missing values, data types, correlations, etc. First let's deal with missing values.

Drop read in empty columns:

In [252]:
data.drop(['Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26'],axis=1,inplace=True)

In [327]:
# data.isnull().sum()

for the missing date item, I may just drop. Once checking it (show below), we can see that the entire row is missing, so this one will be dropped:

In [23]:
data[data['Date of Interview'].isnull()]

,Date of Interview,Client name,Industry,Location,Position to be closed,Nature of Skillset,Interview Type,Name(Cand ID),Gender,Candidate Current Location,...,Candidate Native location,Have you obtained the necessary permission to start at the required time,Hope there will be no unscheduled meetings,Can I Call you three hours before the interview and follow up on your attendance for the interview,Can I have an alternative number/ desk number. I assure you that I will not trouble you too much,Have you taken a printout of your updated resume. Have you read the JD and understood the same,Are you clear with the venue details and the landmark.,Has the call letter been shared,Observed Attendance,Marital Status
1233,NaN,﻿﻿,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [253]:
data.dropna(subset=["Date of Interview"],inplace=True)

Ok, lets look at the values in these binary columns. There seems to be some issues with input values. The values need to be cleaned. So, let's look into the column values to clean them proplerly. First, let's lower all of values.

In [254]:
for col in data.columns:
    data[col] = data[col].str.lower()
    data[col] = data[col].str.strip()

I'm making a dictionary with all columns values, except for dates and names:

In [255]:
col_vals_2 = {}

for col in data.columns:
    if col in ["Date of Interview","Name(Cand ID)"]:
        pass
    else:
        col_vals_2[col] = data[col].value_counts().keys().to_list()

Update values for the question based answers:

In [256]:
cols_for_maybe = ['Has the call letter been shared','Hope there will be no unscheduled meetings']
    
cols_for_YN = ['Are you clear with the venue details and the landmark.',
               'Have you taken a printout of your updated resume. Have you read the JD and understood the same',
               'Can I have an alternative number/ desk number. I assure you that I will not trouble you too much',
               'Can I Call you three hours before the interview and follow up on your attendance for the interview',
               'Have you obtained the necessary permission to start at the required time']

vals_for_maybe_dict = ['need to check','not yet','havent checked','yet to check','cant say']

vals_for_YN = ['no- i need to check','not yet','no- will take it soon','no',
               'no i have only thi number','no','no dont','not yet','yet to confirm']

for col in cols_for_maybe:
    data[col] = data[col].apply(lambda val: replace_value(val,vals_for_maybe_dict,"not sure"))
    
for col in cols_for_YN:
    data[col] = data[col].apply(lambda val: replace_value(val,vals_for_YN,"no"))
    
#replace_value(val,replacable_words_li,replace_word

There is a string value that is "na". In a way to understand if it is meant to be read as "N/A" or an accident for "no", I've pulled the data where this value shows up. 

For most of the columns, it is showing up for the 20 same rows (found using `data[data['Hope there will be no unscheduled meetings']=='na']`). I looked to see what is common about these rows to determine if there are any commonaility that would make it sensible to be N/A or if it should be no. However, I think based on the commonaility across the board, I'm leaning to it falling into the NaN category. I will most likely assign it as such, and deal with null values after one-hot encoding.

I now need to address the formatting issues with the date column. Some values are separated differently. A few list date and time, while others start with months as the first value. Below we will figure out how we can manage these and fix them.

was used before but isn't now:

`data["date_formats"] = data["Date of Interview"].apply(lambda row: format_date(row))`
`data["date_formats"].value_counts()`

based on this, I am assuming a format of "dd/mm/yyyy"

In [257]:
data["Date of Interview"] = data["Date of Interview"].apply(lambda row: clean_date_formating(row))

Based on the fact this model is forward looking, I'm going to **not going to use the year** in training our model. We will have a separate month and day column. But we will do this after cleaning the rest of the data.

Next clean all location values:

In [258]:
for col in ['Location','Candidate Current Location','Candidate Job Location',
            'Interview Venue','Candidate Native location']:
    data[col] = data[col].apply(lambda loc: clean_locations(loc))

fix values that need to be replaced:

In [259]:
industry_replacements = {'it products and services':'it','it services':'it'}
interview_type_replacements = {'scheduled walk in':'scheduled_walkin','scheduled walkin':'scheduled_walkin',
                              'sceduled walkin':'scheduled_walkin'}
client_replacements = {"aon hewitt gurgaon":"aon","aon hewitt":"aon","hewitt":"aon",
                       "standard chartered bank chennai":"standard chartered bank"}

data['Industry'] = data['Industry'].apply(lambda row: clean_col_vals(row,industry_replacements))
data['Interview Type'] = data['Interview Type'].apply(lambda row: clean_col_vals(row,interview_type_replacements))
data["Position to be closed"] = data["Position to be closed"].apply(lambda row: clean_position_names(row))
data['Client name'] = data['Client name'].apply(lambda row: clean_col_vals(row,client_replacements))

Look into skillsets to determine how we can make more out of this data. There's a lot of data in each cell, we can break them down more to better use the data.

first thing, if there is a time in the skillset just put the `Position to be closed` value:

In [260]:
data["Nature of Skillset"] = data.apply(lambda row: replace_time_with_position(row["Nature of Skillset"],row["Position to be closed"]),axis=1)

Clean up some of these skills:

In [280]:
data["skillset"] = data['Nature of Skillset'].apply(lambda row: clean_skills(row))
data["is_lead_or_manager"] = data.apply(lambda row: lead_or_manager_skills_fix(row['Nature of Skillset'],row['Position to be closed'],leads_li,position_or_lead="lead"),axis=1)
data["skillset"] = data.apply(lambda row: lead_or_manager_skills_fix(row["skillset"],row['Position to be closed'],leads_li,position_or_lead="position"),axis=1)

In [ ]:
skill_replacements = {"java_j2ee_struts_hibernate_spring_jsf_xml":["java_j2ee_struts_hibernate","java_spring_hibernate_jsf",
                        "java_j2ee","java_spring_hibernate","java_j2ee_core_java","java_jsf","java_j2ee_jsf",
                        "java_xml_struts_hibernate"],
                        "java_developer":["java","core_java","java_sql"],
                        "cdd_kyc":["aml_kyc_cdd"],
                        "lending_and_liabilities":["l_and_l","lending_and_liablities"],
                        "biosimillar":["biosimilars"],
                        "oracle":["oracle_plsql"],
                        "label":["ra_label","global_labelling"],"cots":["cots_developer"]
                     }
    
tester = data['skillset'].apply(lambda row: replace_skills(row,skill_replacements))

get posts that are for manager,senior, or lead positions:

In [306]:
skill_replacements = {"lending_and_liabilities":["l_and_l","lending_and_liability"],
                      "biosimillar":["biosimilars"],
                      "etl":["tl"]
                     }
    
data['skillset'] = data['skillset'].apply(lambda row: replace_skills(row,skill_replacements))

In [309]:
role_values = {"java":["java"],"j2ee":["j2ee"],"hibernate":["hibernate"],
               "jsf":["jsf"],"spring":["spring"],"sql":["sql","ms_exchange"],
               "sas":["sas"],"sccm":["sccm"],"aml":["aml"],"ra":["ra"],
               "developer":["developer","software_engineer"],"testing":["testing"],
               "production":["production"],"mednet":["mednet"],"operations":["operations"],
               "cots":["cots"],"oracle":["oracle"],"analytics":["analy"],"regulatory":["regulatory"],
               "hadoop":["hadoop"],"automation":["automation"],"label":["label"],"fresher":["fresher"],
               "cdd_kyc":["cdd_kyc"],"dot_net":["dot_net"],"emea":["emea"],"routine":["routine"],
               "lending_and_liabilities":["lending_and_liabilities"],"biosimillar":["biosimillar"],
               "etl":["etl"],"publishing":["publishing"],"#name?":["#name?"],
                 "support":["support"],"network":["network"]}

let's get all of the values to make individual columns:

In [310]:
for val in role_values.keys():  
    col_name = f"{val}_role"
    data[col_name] = data.skillset.apply(lambda skill: value_contained_skill(skill,role_values[val]))

ok, now to fill in null values.

The "na" value in pandas are read already as null values. no need to run the following to impute them to nan:

```
cols = ['Are you clear with the venue details and the landmark.',
        'Have you taken a printout of your updated resume. Have you read the JD and understood the same',
        'Can I have an alternative number/ desk number. I assure you that I will not trouble you too much',
        'Can I Call you three hours before the interview and follow up on your attendance for the interview',
        'Have you obtained the necessary permission to start at the required time',
        'Has the call letter been shared','Hope there will be no unscheduled meetings']

for i in cols:
    data[i] = data[i].replace(to_replace='na', value=None)
    print(data[i].unique())`
```

for simplicities sake of this challenge I will be filling the missing values with the mode values. XGBoost is an option to use in a case like this as well, but to be more intreprtable, we're going to continue with this methid.

I will be removing the row from the DataFrame that do not have values in the dependent variable.

In [326]:
missing_dep = data[data['Observed Attendance'].isna()]
df = data[~data['Observed Attendance'].isna()]

In [345]:
l = df.isnull().sum()
l = pd.DataFrame(l)
na_columns = l[l[0] > 0].index.to_list()

In [374]:
for col in na_columns:
    val_to_fill = data[col].mode()[0]
    df[col] = df[col].fillna(val_to_fill)

I'm going to drop the `Name(Cand ID)` it doesn't offer any details about the candidate really.

Other columns I will be dropping here are: `Nature of Skillset`,`Location`

In [373]:
df.drop(["Name(Cand ID)","Nature of Skillset","Location"],axis=1,inplace=True)

get month and day extracted from `Date of Interview`, then drop the column:

In [372]:
df["month"] = df["Date of Interview"].apply(lambda date: date.month)
df["day"] = df["Date of Interview"].apply(lambda date: date.day)
df["day_of_year"] = df["Date of Interview"].apply(lambda date: date.timetuple().tm_yday)

In [375]:
df.drop(["Date of Interview"],axis=1,inplace=True)

Now to deal with options for locations so we can remove some of these categorical values. We will use the google api to get values for the following:
    
distance between:
- `Candidate Current Location` from `Candidate Job Location`
- `Candidate Current Location` from `Interview Venue`
- `Candidate Current Location` from `Candidate Native location`
- `Candidate Job Location` from `Interview Venue`
- `Candidate Job Location` from `Candidate Native location`
- `Interview Venue` from `Candidate Native location`

In [379]:
distaince_to_check = [('Candidate Current Location','Candidate Job Location'),
                      ('Candidate Current Location','Interview Venue'),
                      ('Candidate Current Location','Candidate Native location'),
                      ('Candidate Job Location','Interview Venue'),
                      ('Candidate Job Location','Candidate Native location'),
                      ('Interview Venue','Candidate Native location')]

In [398]:
with open('../api_key.pickle', 'rb') as handle:
    api_info = pickle.load(handle)

gmaps = googlemaps.Client(key=api_info["api_key"])

In [ ]:
loc_cols = ["Candidate Current Location","Candidate Job Location","Interview Venue","Candidate Native location"]

locs = []
for col in loc_cols:
    locs.extend(df[col].unique())

locs = list(set(locs))
locs = [f"{city}, India" for city in locs]

In [441]:
distances = {}

for c in itertools.combinations(locs, 2):
    distances[c] = get_city_diff(c[0],c[1])
    
updated_distances = {}

for i in distances:
    one,two = clean(i[0]),clean(i[1])
    if one[1] > two[1]:
        try:
            updated_distances[one][two] = distances[i]
        except:
            updated_distances[one] = {}
            updated_distances[one][two] = distances[i]
    else: 
        try:
            updated_distances[two][one] = distances[i]
        except:
            updated_distances[two] = {}
            updated_distances[two][one] = distances[i]

Now that we have all the differences, we are going to use them to fill in these four distance columns:

In [466]:
distaince_to_check = [('Candidate Current Location','Candidate Job Location'),
                      ('Candidate Current Location','Interview Venue'),
                      ('Candidate Current Location','Candidate Native location'),
                      ('Candidate Job Location','Interview Venue'),
                      ('Candidate Job Location','Candidate Native location'),
                      ('Interview Venue','Candidate Native location')]
    
for col in distaince_to_check:
    new_col = ' to '.join(col).replace(' ','_')
    df[new_col] = df.apply(lambda row:get_distance(row[col[0]],row[col[1]]),axis=1)

Now we need to one hot encode the categorical columns:

In [299]:
# pd.get_dummies(data,columns=["Have you obtained the necessary permission to start at the required time",
#                              "Hope there will be no unscheduled meetings",
#                              "Can I Call you three hours before the interview and follow up on your attendance for the interview",
#                              "Can I have an alternative number/ desk number. I assure you that I will not trouble you too much",
#                              "Have you taken a printout of your updated resume. Have you read the JD and understood the same",
#                              "Are you clear with the venue details and the landmark.",
#                              "Has the call letter been shared",
#                              "Observed Attendance"])

### EDA:

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=16)